main .about {
    @include flexRow();
    justify-content: center;

    .container {
        width: 75%;
        height: 100%; 
    }

    &:first-of-type {
        height: 14vh;
        background-color: #1f242c;
        @include flexRow();
        justify-content: center;
    }

    .main-header {
        width: 100%;
        height: 14vh;
        @include flexRow();
        justify-content: space-between;

        #web-logo {
            height: 100%;
            width: 25%;
            position: relative;
            background-color: maroon;
            

            img {
                height: 100%;
                width: 80%;
                object-fit: cover;
            }
        }

        nav {
            height: 100%;
            width: 29%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;
            
            ul {
                @include flexRow();
                justify-content: space-around;
                width: 100%;
                padding: 0;
            }

            li {
                width: 22%;
                list-style: none;
                text-align: center;
                font-weight: 700;

                &:nth-of-type(2) a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.5);

                    &:hover {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }

                &:first-of-type {
                    text-align: right;
                }

            }
        }
    }


    /****************/
    /*FIRST ABOUT SECTION*/
    /****************/

    &:nth-of-type(2) {
        height: 77vh;
    }

    &:nth-of-type(2) .container {
        @include flexRow();

        .first-about:first-of-type {
            width: 50%;
            display: flex;
            align-items: center;

            div {
                position: relative;

                img {
                    &:first-of-type {
                        width: 90%;
                        height: 90%;
                        position: absolute;
                        border-radius: 10px;
                        z-index: 1;
                        object-fit: cover;
                    }

                    &:last-of-type {
                        width: 55%;
                        height: 65%;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }

        .first-about:last-of-type {
            width: 50%;
            display: flex;
            align-items: center;

            div {
                margin-left: 50px;

                h2 {
                    font-size: 1.875em;
                    font-weight: 600;
                    width: 33.008vw;
                }

                p {
                    font-size: 1.375em;
                    line-height: 30px;
                    color: #777777;
                    width: 33.008vw;

                    &:nth-of-type(2) {
                        margin-top: 10px;
                        margin-bottom: 0;
                    }

                    &:nth-of-type(3) {
                        font-size: 1.250em;
                        font-weight: 600;
                        color: #212529;
                        margin-top: 5px;
                    }
                }

                img {
                    width: 19.531vw;
                    height: 7.487vw;
                }
            }
        }

        .first-about div {
            width: 100%;
            height: 64vh;
        }
    }


    /****************/
    /*SECOND ABOUT SECTION*/
    /****************/

    &:nth-of-type(3) {
        height: 47vh;
        background-image: url(../img/about-second1.jpg);
        background-size: cover;

        &::before {
            content: "";
            width: 100%;
            height: 47vh;
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            z-index: 0;
        }
    }

    &:nth-of-type(3) .container {
        @include flexRow();
        align-items: center;
        z-index: 1;

        .second-about {
            width: 100%;
            height: 80%;
            @include flexRow();
            justify-content: space-between;
        }

        .second-about div {
            width: 24%;
            height: 100%;
            @include absoluteCenter();
            flex-direction: column;

            span {
                display: block;
                width: 40px;
                height: 40px;
                background-color: mediumblue
            }

            h2 {
                width: 100%;
                height: auto;
                font-size: 3.125em;
                margin: 0;
                margin-top: 25px;
                color: #ffffff;
                text-align: center;
            }

            p {
                width: 100%;
                font-size: 1.250em;
                color: #eeeeee;
                margin-top: 10px;
                text-align: center;
            }
            
        }
    }


    /****************/
    /*THIRD ABOUT SECTION*/
    /****************/

    &:nth-of-type(4) {
        height: 80vh;
    }

    &:nth-of-type(4) .container {
        @include flexRow();
        align-items: center;

        .third-about:first-of-type {
            width: 60%;
            height: 68%;

            h2 {
                font-size: 1.875em;
                font-weight: 700;
                color: #212529;
                margin-top: 0;
            }

            p {
                @include paragraphSize();
                width: 634px;

                &:first-of-type {
                    margin-bottom: 0;
                }

                &:last-of-type {
                    margin-top: 8px;
                }
            }

            div {
                @include flexRow();
                margin-top: 45px;

                span {
                    width: 119px;
                    height: 49px;
                    background-color: #222831;
                    color: #fff;
                    border-radius: 5px;
                    @include absoluteCenter();
    
                    &:hover {
                        color: #a3f7bf;
                    }
                }
    
                button {
                    margin-right: 8px;
                    @include pageButton(166px, 49px);
                }
            }
        }

        .third-about:last-of-type {
            width: 40%;
            height: 68%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

    }


    /****************/
    /*FOURTH ABOUT SECTION*/
    /****************/

    &:nth-of-type(5) {
        height: 70vh;
    }

    &:nth-of-type(5) .container {
        @include flexRow();
        align-items: center;

        .fourth-about:first-of-type {
            width: 50%;
            height: auto;
            @include flexColumn();
            align-items: center;

            h2 {
                font-size: 1.875em;
                color: #232527;
            }

            #skills-chart {
                width: 540px;
                height: 265px;
                color: #777777;
                @include flexColumn();

                .chart-wrapper {
                    width: 100%;
                    height: 25%;
                    margin-bottom: 15px;
                    @include flexColumn();

                    h3 {
                        font-size: 1.063em;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    p {
                        font-weight: 600;
                        margin-bottom: 0;
                    }

                    div:first-of-type {
                        @include flexRow();
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                    }

                    div:last-of-type {
                        width: 100%;
                        height: 10px;
                        background-color: rgba(0, 0, 0, 0.1);
                        position: relative;
                        overflow: hidden;
                        border-radius: 50px;

                        &::before {
                            content: "";  
                            height: inherit;
                            background-color: #29a19c;
                            position: absolute;
                            border-radius: 50px;
                        }

                    }

                    &:first-of-type {
                        div:last-of-type {
                            &::before {
                                width: 80%;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        div:last-of-type {
                            &::before {
                                width: 70%;
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        div:last-of-type {
                            &::before {
                                width: 90%;
                            }
                        }
                    }

                    &:last-of-type {
                        div:last-of-type {
                            &::before {
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }

        .fourth-about:last-of-type {
            width: 50%;
            height: 68%;
            @include flexColumn();
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 1.875em;
                color: #232527;
            }

            #hobbies-wrapper {
                width: 474px;
                height: 265px;
                @include flexRow();
                flex-wrap: wrap;


                div {
                    width: 33.33%;
                    height: 50%;
                    @include flexColumn();
                    align-items: center;
                    justify-content: center;

                    div {
                        width: 65px;
                        height: 65px;
                        background-color: silver;
                        border-radius: 50%;
                        @include absoluteCenter();

                        span {
                            display: block;
                            width: 20px;
                            height: 20px;
                            background-color: goldenrod;
                        }
                    }

                    h3 {
                        font-size: 1.250em;
                        color: #232527;
                        margin: 10px 0 10px 0;
                    }
                }
            }
        }

        
    }


    /****************/
    /*FIFTH ABOUT SECTION*/
    /****************/

    &:nth-of-type(6) {
        height: 77vh;
        position: relative;

        button {
            position: absolute;
            bottom: 30px;
            @include pageButton(143px, 49px);
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:nth-of-type(6) .container {
        @include flexRow();
        align-items: center;

        .fifth-about {
            width: 100%;
            height: 64%;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            position: relative;

            h2 {
                position: absolute;
                top: 0;
                margin: 0;
                color: #1a1a1a;
                font-weight: 500;
                font-size: 1.75rem;
            }
        }

        .fifth-about > div {
            width: 350px;
            height: 73%;
            position: relative;
            margin-bottom: 25px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                opacity: 0;
                transition: opacity .3s linear;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            div {
                position: absolute;
                width: 100%;
                top: 80%;
                opacity: 0;
                @include flexColumn();
                align-items: center;
                transition: top .3s linear, opacity .3s linear;

                h3 {
                    font-size: 2.188em;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 0;
                }

                p {
                    color: #fff;
                    margin-top: 15px;
                    font-size: 0.750em;
                }
            }

            &:hover {
                &::before {
                    opacity: 1;
                }

                div {
                    top: 25%;
                    opacity: 1;
                }
            }
        }
    }



}

main {
    
    footer {
        width: 100%;
        height: 11vh;
        background-color: #222831;
        @include flexRow();
        justify-content: center;

        .container {
            width: 75%;
            height: 100%;
            @include flexRow();
            justify-content: space-between;

            .footer-content:first-of-type {
                @include flexColumn();
                justify-content: center;

                h3 {
                    font-size: 1.063em;
                    font-weight: 400;
                    color: #aaaaaa;
                }
            }

            .footer-content:last-of-type {
                @include flexColumn();
                justify-content: center;

                ul {
                    @include flexRow();
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        width: 16px;
                        height: 16px;
                        background-color: darkolivegreen;
                        position: relative;
                        margin-left: 25px;

                        img {
                            width: 100%;
                            height: 100%;
                            fill: darkviolet;
                        }
                    }
                }
            }
        }
    }
}