main .contact {
    @include flexRow();
    justify-content: center;

    .container {
        width: 75%;
        height: 100%; 
    }

    &:first-of-type {
        height: 14vh;
        background-color: #1f242c;
        @include flexRow();
        justify-content: center;
    }

    .main-header {
        width: 100%;
        height: 14vh;
        @include flexRow();
        justify-content: space-between;

        #web-logo {
            height: 100%;
            width: 25%;
            position: relative;
            background-color: maroon;
            

            img {
                height: 100%;
                width: 80%;
                object-fit: cover;
            }
        }

        nav {
            height: 100%;
            width: 29%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;
            
            ul {
                @include flexRow();
                justify-content: space-around;
                width: 100%;
                padding: 0;
            }

            li {
                width: 22%;
                list-style: none;
                text-align: center;
                font-weight: 700;

                &:last-of-type a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.5);

                    &:hover {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }

                &:first-of-type {
                    text-align: right;
                }

            }
        }
    }

    /****************/
    /*CONTACT FORM SECTION*/
    /****************/

    &:nth-of-type(2) {
        height: 105vh;
    }

    &:nth-of-type(2) .container {
        @include flexRow();
        justify-content: center;

        .form-content {
            width: 700px;
            max-width: 700px;
            display: flex;
            align-items: center;
            position: relative;

            h2 {
                position: absolute;
                top: 3%;              
                text-align: center;
                font-size: 2.813em;
                line-height: 50px;
                font-weight: 700;

                a {
                    color: #29a19c;
                    cursor: pointer;

                    &:hover {
                        color: #196461;
                        text-decoration: underline;
                    }
                }
            }

            form {
                @include flexColumn();
                height: 59%;
                width: 100%;
                position: relative;
                top: 12%;

                div:first-of-type {
                    width: 100%;
                    height: 100%;
                    @include flexColumn();

                    input {
                        height: 60px;
                        padding: 0 15px 0 20px;
                        font-size: 1.063em;
                        color: #777777;
                        border: none;
                        background-color: #eee;
                        margin-bottom: 15px;
                    }

                    textarea {
                        height: 180px;
                        padding: 20px 15px 0 20px;
                        color: #777777;
                        border: none;
                        font-size: 1.063em;
                        background-color: #eee;
                        margin-bottom: 15px;
                        resize: vertical;
                    }
                }

                div:last-of-type {
                    width: 100%;
                    height: 10%;
                    @include flexRow;
                    justify-content: flex-end;

                    button {
                        @include pageButton(139px, 45px);
                    }
                }
            }
        }

    }


}