@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (min-width: 320px) and (max-width: 480px) { @content };
    }

    @else if $breakpoint == phoneLandscape {
        @media only screen and (min-width: 568px) and (max-width: 812px) { @content };
    }

    @else if $breakpoint == tablet {
        @media only screen and (max-width: 834px) { @content };
    }

    @else if $breakpoint == tabletLandscape {
        @media only screen and (max-width: 1112px) { @content };
    }

}













@include responsive(tabletLandscape) {











    /****************************/
    /******HOME PAGE STYLES******/
    /****************************/

    .home section .main-header nav {
        width: 35%;
    }

    .home section .container {
        width: 90%;
    }

    .home section:nth-of-type(2) .container {
        width: 75%;
    }
    
    .home section #image-slider {
        margin: 7% 0 0 0;
    }

    /*SECOND SECTION*/

    .home section:nth-of-type(3) {
        height: 100vh;
    }

    .home section:nth-of-type(3) .container .second-content div {
        height: 355px;
        margin-top: -15%;
    }

    .home section:nth-of-type(3) .container .second-content:last-of-type div {
        margin-top: -25%;
    }

    .home section:nth-of-type(3) .container .second-content div h2 {
        font-size: 30px;
        line-height: 35px;
    }

    /*FOURTH SECTION*/

    .home section:nth-of-type(5) .container .fourth-content:last-of-type {
        flex-basis: 70%;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div {
        width: 90%;
        height: 63%;
        margin-top: -15%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h3 {
        font-weight: 400;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div button {
        margin-top: 25px;
    }

    /*FIFTH SECTION*/

    .home section:nth-of-type(6) .container .fifth-content:first-of-type div p {
        font-size: 25px;
    }

    /*SIXTH SECTION*/

    .home section:nth-of-type(7) .container .sixth-content:first-of-type h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type div:first-of-type span {
        width: 300px;
        height: 45px;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type div:last-of-type span {
        width: 237px;
        height: 45px;
    }

    .home section:last-of-type .container div {
        width: auto;
    }

    .home section:last-of-type .container div span {
        width: 143px;
        height: 49px;
    }

    /*FOOTER*/

    main footer .container {
        width: 90%;
    }
   
    main footer .container .footer-content:first-of-type h3 {
        font-size: 16px;
    }









    /*****************************/
    /******ABOUT PAGE STYLES******/
    /*****************************/


    /*FIRST SECTION*/



    main .about:nth-of-type(2) {
        height: 83vh;
    }

    main .about .container {
        width: 90%;
    }

    main .about .main-header nav {
        width: 35%;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div {
        height: 60vh;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div img:last-of-type {
        width: 65%;
        height: 75%;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div h2 {
        font-weight: 700;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div p:nth-of-type(3) {
        font-weight: 700;
    }


    /*SECOND SECTION*/



    main .about:nth-of-type(3) {
        height: 55vh;
    }

    main .about:nth-of-type(3)::before {
        height: 55vh;
    }

    main .about:nth-of-type(3) .container .second-about div h2 {
        margin-top: 20px;
    }

    main .about:nth-of-type(3) .container .second-about div p {
        margin-top: 20px;
    }


    /*THIRD SECTION*/


    main .about:nth-of-type(4) .container .third-about:first-of-type p {
        width: 95%;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type div span {
        width: 119px;
        height: 49px;
    }



    /*FOURTH SECTION*/



    main .about:nth-of-type(5) {
        height: 80vh;
    }

    

    main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart {
        width: 100%;
        height: auto;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper div:last-of-type {
        height: 10px;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type h2 {
        margin-top: 0;
        margin-left: 5%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper {
        width: 84%;
        height: 73%;
        margin-left: 5%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper > div {
        margin-bottom: 20px;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper div div {
        width: 65px;
        height: 65px;
    }



    /*FIFTH SECTION*/


    main .about:nth-of-type(6) {
        height: 80vh;
    }

    main .about:nth-of-type(6) .container .fifth-about {
        justify-content: space-between;
    }

    main .about:nth-of-type(6) .container .fifth-about > div {
        width: 290px;
    }










    /********************************/
    /******SERVICES PAGE STYLES******/
    /********************************/


    main .services .container {
        width: 90%;
        position: relative;
    }

    main .services .main-header nav {
        width: 35%;
    }

    

    /*FIRST SECTION*/

    main .services:nth-of-type(2) {
        height: 104vh;
    }

    main .services:nth-of-type(2) .container .first-service {
        height: 89vh;
    }


    main .services:nth-of-type(2) .container .first-service hr {
        top: 15%;
        height: 2px;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type {
        margin-top: -10%;
    }


    /*SECOND SECTION*/


    main .services:nth-of-type(3) .container .second-service {
        height: 70vh;
    }

    main .services:nth-of-type(3) .container .second-service > div {
        width: 32%;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type {
        height: 59%;
    }



    /*THIRD SECTION*/

    main .services:nth-of-type(4) {
        height: 78vh;
    }

    main .services:nth-of-type(4) .container .third-service > div {
        height: 77%;
    }


    main .services:nth-of-type(4) .container > h2 {
        top: 3%;
    }


    /*FOURTH SECTION*/



    main .services:nth-of-type(5) .container .fourth-service > div {
        height: 92%;
    }












    /*******************************/
    /******CONTACT PAGE STYLES******/
    /*******************************/

    

    main .contact .container {
        width: 90%;
    }
    
    main .contact .main-header nav {
        width: 35%;
    }

    main .contact:nth-of-type(2) {
        height: 119vh;
    }




}





































@include responsive(tablet) {



    /****************************/
    /******HOME PAGE STYLES******/
    /****************************/

    @keyframes hamburger {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }


    .home section .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    .home section .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    .home section .main-header nav li, .home section .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    .home section .main-header nav li:first-of-type {
        margin-top: 20%;
    }

    .home section .container {
        width: 90%;
    }

    .home section:nth-of-type(2) .container {
        width: 75%;
    }

    #mobile-menu {
        display: block;
        width: 52px;
        height: 44px;
        background-color: tan;
        z-index: 3;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include flexColumn();
        justify-content: center;
        align-items: center;
        
        &.clicked {
            span {
                background-color: transparent;
    
                &::before {
                    top: 45%;
                    transform: rotate(45deg);
                }
    
                &::after {
                    bottom: 50%;
                    transform: rotate(-45deg);
                }
            }
        }

        span {
            height: 2px;
            width: 50%;
            background-color: black;
            display: block;
            transition: background-color .1s linear .2s;

            &::before {
                content: "";
                display: block;
                width: inherit;
                height: inherit;
                background-color: black;
                position: absolute;
                top: 25%;
                transition: top .3s linear, transform .3s ease-in-out .3s;
                transform: rotate(0);
                transform-origin: center;
            }

            &::after {
                content: "";
                display: block;
                width: inherit;
                height: inherit;
                background-color: black;
                position: absolute;
                bottom: 25%;
                transition: bottom .3s linear, transform .3s ease-in-out .3s;
                transform: rotate(0);
                transform-origin: center;
            }
        }
    }



    /*FIRST SECTION*/



    .home section #image-slider {
        position: relative;
        margin: 15% 0 0 0;
    }

    .home section #image-slider .slide-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        z-index: 1;
    }

    .home section #image-slider .slide-title div:first-of-type {
        left: 0;
    }

    .home section #image-slider .slide-title div:nth-of-type(2) {
        left: -80%;
        top: 30%;
    }

    .home section #image-slider .slide-title div:last-of-type {
        top: 80%;
    }

    .home section #image-slider .slide-title div:first-of-type ul li {
        font-size: 7em;
    }

    .home section #image-slider .slide-title div:nth-of-type(2) {
        width: 400px;
        height: 170px;
    }


    /*SECOND SECTION*/


    .home section:nth-of-type(3) {
        height: 175vh;
    }

    .home section:nth-of-type(3) .container {
        flex-direction: column;
        align-items: center;
    }

    .home section:nth-of-type(3) .container div:first-of-type {
        order: 2;
        width: 100%;
        height: 67%;
        align-items: flex-start;
    }

    .home section:nth-of-type(3) .container div:first-of-type > div {
        width: 100%;
        height: 550px;
        margin-top: 35%;
    }

    .home section:nth-of-type(3) .container div:last-of-type > div {
        width: 100%;
        height: 495px;
        margin-top: 15%;
    }

    .home section:nth-of-type(3) .container div:last-of-type {
        order: 1;
        height: 50%;
    }

    .home section:nth-of-type(3) .container div:last-of-type {
        width: 85%;
        height: 33%;
        align-items: flex-start;
    }

    .home section:nth-of-type(3) .container .second-content div h2 {
        text-align: center;
    }

    .home section:nth-of-type(3) .container .second-content div p {
        width: 100%;
        text-align: center;
    }

    .home section:nth-of-type(3) .container .second-content div button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    /*FOURTH SECTION*/


    .home section:nth-of-type(5) {
        height: 150vh;
    }

    .home section:nth-of-type(5) .container {
        flex-direction: column;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type {
        width: 100%;
        justify-content: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div {
        margin-top: 10%;
        width: 85%;
        height: 495px;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div img {
        width: 100%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div {
        margin-top: 5%;
        height: 100%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h2 {
        text-align: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h3 {
        text-align: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div p {
        text-align: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    /*FIFTH SECTION*/



    .home section:nth-of-type(6) .container .fifth-content:first-of-type div {
        height: auto;
    }

    .home section:nth-of-type(6) .container .fifth-content:first-of-type div p {
        font-size: 1.8em;
    }


    /*SIXTH SECTION*/


    .home section:nth-of-type(7)  {
        height: 160vh;
    }

    .home section:nth-of-type(7) .container {
        flex-direction: column;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type {
        flex-basis: 0;
        margin-bottom: 20px;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type h2 {
        margin-top: 60px;
        text-align: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type h3 {
        text-align: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type p {
        text-align: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type {
        margin: 0;
        flex-basis: 60%;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type div {
        height: 68%;
    }


    /*FOOTER*/

    main footer .container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }

    main footer {
        height: 19vh;
    }

    main footer .container .footer-content {
        align-items: center;
    }













    /*****************************/
    /******ABOUT PAGE STYLES******/
    /*****************************/



    main .about .container {
        width: 90%;
    }

    main .about .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .about .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .about .main-header nav li, main .about .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .about .main-header nav li:first-of-type {
        margin-top: 20%;
    }


    /*FIRST SECTION*/


    main .about:nth-of-type(2) .container .first-about:first-of-type {
        width: 65%;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div img:last-of-type {
        width: 70%;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div {
        text-align: right;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div h2 {
        width: 100%;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div p {
        width: 100%;
    }


    /*SECOND SECTION*/


    main .about:nth-of-type(3) .container .second-about div h2 {
        font-size: 2.5em;
    }

    main .about:nth-of-type(3) .container .second-about div p {
        font-size: 1.15em;
    }


    /*THIRD SECTION*/

    main .about:nth-of-type(4) {
        height: 155vh;
    }

    main .about:nth-of-type(4) .container {
        flex-direction: column;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type {
        order: 2;
        width: 100%;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type h2 {
        text-align: center;
        font-size: 1.9em;
        margin-top: 5%;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type p {
        width: 100%;
        text-align: center;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type div {
        justify-content: center;
    }

    main .about:nth-of-type(4) .container .third-about:last-of-type {
        order: 1;
        width: 85%;
        height: 495px;
        margin-top: 15%;
    }


    /*FOURTH SECTION*/


    main .about:nth-of-type(5) {
        height: 130vh;
    }

    main .about:nth-of-type(5) .container {
        flex-direction: column;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type {
        width: 100%;
        height: 50%;
    }

    main .about:nth-of-type(5) .container h2 {
        font-size: 1.9em;
        margin-top: 10%;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart {
        width: 100%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type {
        width: 100%;
        height: 38%;
        justify-content: flex-start;
        margin-top: 5%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type h2 {
        margin-top: 5%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper {
        width: 100%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper > div {
        margin-bottom: 25px;
    }


    /*FIFTH SECTION*/


    main .about:nth-of-type(6) .container .fifth-about > div {
        width: 30%;
        height: 63%;
    }

    main .about:nth-of-type(6) .container .fifth-about > div:hover div {
        top: 20%;
    }















    /********************************/
    /******SERVICES PAGE STYLES******/
    /********************************/



    main .services .container {
        width: 90%;
    }

    main .services:first-of-type .container {
        position: initial;
    }

    main .services .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .services .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .services .main-header nav li, main .services .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .services .main-header nav li:first-of-type {
        margin-top: 20%;
    }


    /*FIRST SECTION*/


    main .services:nth-of-type(2) {
        height: 135vh;
    }

    main .services:nth-of-type(2) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(2) .container .first-service {
        flex-direction: column;
    }

    main .services:nth-of-type(2) .container .first-service h2 {
        text-align: center;
    }

    main .services:nth-of-type(2) .container .first-service hr {
        top: 18%;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type {
        width: 100%;
        margin-top: 17%;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type h3 {
        text-align: center;
        margin-top: 2%;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type p {
        text-align: center;
    }

    main .services:nth-of-type(2) .container .first-service div:first-of-type button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type {
        margin-top: 10%;
        width: 100%;
        height: auto;
        justify-content: space-between;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type .service-wrapper {
        width: 44%;
        margin-top: 2%;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type .service-wrapper div {
        margin-left: 0;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type .service-wrapper p {
        margin-left: 0;
    }


    /*SECOND SECTION*/


    main .services:nth-of-type(3) {
        height: 150vh;
    }

    main .services:nth-of-type(3) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(3) .container .second-service {
        flex-wrap: wrap;
    }

    main .services:nth-of-type(3) .container .second-service > div {
        width: 48%;
        margin-top: 5%;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type {
        height: 50%;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type h3 {
        font-size: 1.4em;
        font-weight: 700;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type p {
        font-size: 1em;
        width: 95%;
    }

    main .services:nth-of-type(3) .container .second-service > div:last-of-type {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
    }

    main .services:nth-of-type(3) .container .second-service > div div:last-of-type {
        height: 50%;
    }

    
    /*THIRD SECTION*/


    main .services:nth-of-type(4) {
        height: 120vh;
    }

    main .services:nth-of-type(4) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(4) .container .third-service {
        height: auto;
        margin-top: 22%;
        flex-wrap: wrap;
    }

    main .services:nth-of-type(4) .container > h2 {
        top: 1%;
    }

    main .services:nth-of-type(4) .container .third-service > div {
        width: 48%;
        margin-bottom: 10%;
    }

    main .services:nth-of-type(4) .container .third-service > div:last-of-type {
        width: 65%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    main .services:nth-of-type(4) .container .third-service > div p {
        width: 85%;
    }


    /*FOURTH SECTION*/


    main .services:nth-of-type(5) {
        height: 100vh;
    }

    main .services:nth-of-type(5) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(5) .container .fourth-service {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10%;
    }

    main .services:nth-of-type(5) .container .fourth-service > div {
        width: 48%;
        height: 250px;
        margin-bottom: 5%;
    }















    /*******************************/
    /******CONTACT PAGE STYLES******/
    /*******************************/

    main .contact .container {
        width: 90%;
    }

    main .contact .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .contact .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .contact .main-header nav li, main .contact .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .contact .main-header nav li:first-of-type {
        margin-top: 20%;
    }

    main .contact:nth-of-type(2) {
        height: 120vh;
    }
















}