@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 480px) { @content };
    }

    @else if $breakpoint == phoneLandscape {
        @media only screen and (max-width: 580px) { @content };
    }

    @else if $breakpoint == tablet {
        @media only screen and (max-width: 768px) { @content };
    }

    @else if $breakpoint == tabletLandscape {
        @media only screen and (max-width: 962px) { @content };
    }

    @else if $breakpoint == smallLaptop {
        @media only screen and (max-width: 1062px) { @content };
    }

    @else if $breakpoint == smallDesktop {
        @media only screen and (max-width: 1252px) { @content };
    }

}













@include responsive(smallDesktop) {











    /****************************/
    /******HOME PAGE STYLES******/
    /****************************/


    .home section .container {
        max-width: 1000px;
    }

    main .main-header {
        width: 1000px;
    }


    /*SECOND SECTION*/

    .home section:nth-of-type(3) .container .inner-container .second-content:first-of-type {
        margin-top: 15%;
    }

    .home section:nth-of-type(3) .container .second-content div {
        height: 355px;
        margin-top: -15%;
    }

    .home section:nth-of-type(3) .container .inner-container .second-content:last-of-type {
        margin-top: 15%;
    }

    .home section:nth-of-type(3) .container .second-content:last-of-type div {
        margin-top: -25%;
    }

    .home section:nth-of-type(3) .container .second-content div h2 {
        font-size: 30px;
        line-height: 35px;
    }

    /*FOURTH SECTION*/

    .home section:nth-of-type(5) .container .fourth-content:last-of-type {
        flex-basis: 70%;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div {
        width: 90%;
        height: 63%;
        margin-top: -15%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h3 {
        font-weight: 400;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div button {
        margin-top: 25px;
    }

    /*FIFTH SECTION*/

    .home section:nth-of-type(6) .container .fifth-content:first-of-type div p {
        font-size: 25px;
    }

    /*SIXTH SECTION*/

    .home section:nth-of-type(7) .container .sixth-content:first-of-type h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type div:first-of-type span {
        width: 300px;
        height: 45px;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type div:last-of-type span {
        width: 237px;
        height: 45px;
    }

    .home section:last-of-type .container div {
        width: auto;
    }

    .home section:last-of-type .container div span {
        width: 143px;
        height: 49px;
    }

    /*FOOTER*/

   
    main footer .container .footer-content:first-of-type h3 {
        font-size: 16px;
    }

    main footer .container {
        max-width: 1000px;
    }









    /*****************************/
    /******ABOUT PAGE STYLES******/
    /*****************************/


    /*FIRST SECTION*/




    main .about .container {
        max-width: 1000px;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div img:last-of-type {
        width: 65%;
        height: 75%;
    }




    /*SECOND SECTION*/


    main .about:nth-of-type(3) .container .second-about div h2 {
        margin-top: 20px;
    }

    main .about:nth-of-type(3) .container .second-about div p {
        margin-top: 20px;
    }


    /*THIRD SECTION*/


    main .about:nth-of-type(4) .container .third-about:first-of-type p {
        width: 95%;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type div span {
        width: 119px;
        height: 49px;
    }



    /*FOURTH SECTION*/

    
    main .about:nth-of-type(5) .container {
        width: 1000px;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart {
        width: 100%;
        height: auto;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper div:last-of-type {
        height: 10px;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type h2 {
        margin-top: 0;
        margin-left: 5%;
    }





    /*FIFTH SECTION*/


    main .about:nth-of-type(6) .container .fifth-about {
        justify-content: space-between;
    }

    main .about:nth-of-type(6) .container .fifth-about h2 {
        width: 100%;
        text-align: center;
    }







    /********************************/
    /******SERVICES PAGE STYLES******/
    /********************************/


    main .services .container {
        max-width: 1000px;
        position: relative;
    }


    

    /*FIRST SECTION*/




    main .services:nth-of-type(2) .container .first-service hr {
        top: 17%;
        height: 2px;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type {
        margin-top: -10%;
    }


    /*THIRD SECTION*/


    main .services:nth-of-type(4) .container > h2 {
        top: 3%;
    }


    



    /*******************************/
    /******CONTACT PAGE STYLES******/
    /*******************************/

    

    main .contact .container {
        max-width: 1000px;
    }
    





}




















@include responsive(smallLaptop) {


    /****************************/
    /******HOME PAGE STYLES******/
    /****************************/


    .home section .container {
        max-width: 900px;
    }

    main .main-header {
        width: 900px;
    }

    .home section #image-slider {
        margin-left: 100px;
    }

    .home section #nav-dots {
        bottom: 12%;
    }

    main footer .inner-container {
        width: 900px;
    }




    /*****************************/
    /******ABOUT PAGE STYLES******/
    /*****************************/


    main .about .container {
        max-width: 900px;
    }

    main .about:nth-of-type(4) {
        height: 624px;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper > div {
        width: 28%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper {
        margin-left: 100px;
    }



    /********************************/
    /******SERVICES PAGE STYLES******/
    /********************************/



    main .services .container {
        max-width: 900px;
    }

    main .services:nth-of-type(2) {
        height: 592px;
    }


















}




























































@include responsive(tabletLandscape) {



    /****************************/
    /******HOME PAGE STYLES******/
    /****************************/

    @keyframes hamburger {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .home section .container {
        width: 85%;
    }

    main .main-header {
        width: 100%;
    }



    main .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 3;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .main-header nav li, main .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .main-header nav li:first-of-type {
        margin-top: 20%;
    }

    .home section:nth-of-type(2) .container {
        width: 75%;
    }

    #mobile-menu {
        display: block;
        width: 52px;
        height: 44px;
        background-color: tan;
        z-index: 4;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @include flexColumn();
        justify-content: center;
        align-items: center;
        
        &.clicked {
            span {
                background-color: transparent;
    
                &::before {
                    top: 45%;
                    transform: rotate(45deg);
                }
    
                &::after {
                    bottom: 50%;
                    transform: rotate(-45deg);
                }
            }
        }

        span {
            height: 2px;
            width: 50%;
            background-color: black;
            display: block;
            transition: background-color .1s linear .2s;

            &::before {
                content: "";
                display: block;
                width: inherit;
                height: inherit;
                background-color: black;
                position: absolute;
                top: 25%;
                transition: top .3s linear, transform .3s ease-in-out .3s;
                transform: rotate(0);
                transform-origin: center;
            }

            &::after {
                content: "";
                display: block;
                width: inherit;
                height: inherit;
                background-color: black;
                position: absolute;
                bottom: 25%;
                transition: bottom .3s linear, transform .3s ease-in-out .3s;
                transform: rotate(0);
                transform-origin: center;
            }
        }
    }




    .home section:first-of-type .container {
        position: initial;
    }

    /*FIRST SECTION*/



    .home section #image-slider {
        position: relative;
        margin-left: 0;
    }

    
    /*SECOND SECTION*/


    .home section:nth-of-type(3) {
        height: auto;
    }

    .home section:nth-of-type(3) .container {
        flex-direction: column;
        align-items: center;
    }

    .home section:nth-of-type(3) .container > div:first-of-type > div {
        width: 100%;
        height: 550px;
    }

    .home section:nth-of-type(3) .container .inner-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .home section:nth-of-type(3) .container .inner-container .second-content:first-of-type {
        order: 2;
        margin: 0;
        width: 85%;
    }

    .home section:nth-of-type(3) .container .inner-container .second-content:last-of-type {
        order: 1;
        width: 85%;
        height: 500px;
        margin: 5% 0 0 0;
    }

    .home section:nth-of-type(3) .container .inner-container .second-content div p {
        width: 100%;
    }

    .home section:nth-of-type(3) .container .second-content:last-of-type div {
        margin: 0;
    }

    .home section:nth-of-type(3) .container .second-content div h2 {
        text-align: center;
    }

    .home section:nth-of-type(3) .container .second-content div p {
        width: 100%;
        text-align: center;
    }

    .home section:nth-of-type(3) .container .second-content div button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    /*FOURTH SECTION*/


    .home section:nth-of-type(5) {
        height: 1050px;
    }

    .home section:nth-of-type(5) .container {
        flex-direction: column;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type {
        width: 100%;
        justify-content: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div {
        margin-top: 10%;
        width: 85%;
        height: 495px;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div img {
        width: 100%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div {
        margin-top: 5%;
        height: 100%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h2 {
        text-align: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h3 {
        text-align: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div p {
        text-align: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


    /*FIFTH SECTION*/



    .home section:nth-of-type(6) .container .fifth-content:first-of-type div {
        height: auto;
    }

    .home section:nth-of-type(6) .container .fifth-content:first-of-type div p {
        font-size: 1.8em;
    }


    /*SIXTH SECTION*/


    .home section:nth-of-type(7)  {
        height: 1000px;
    }

    .home section:nth-of-type(7) .container {
        flex-direction: column;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type {
        flex-basis: 0;
        margin-bottom: 20px;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type h2 {
        margin-top: 60px;
        text-align: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type h3 {
        text-align: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type p {
        text-align: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type {
        margin: 0;
        flex-basis: 60%;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type div {
        height: 68%;
    }


    /*FOOTER*/

    main footer .container {
        width: 85%;
        flex-direction: column;
        justify-content: center;
    }

    main footer .container .footer-content {
        align-items: center;
    }













    /*****************************/
    /******ABOUT PAGE STYLES******/
    /*****************************/



    main .about .container {
        width: 90%;
    }

    main .about:first-of-type .container {
        position: initial;
    }

    main .about .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .about .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .about .main-header nav li, main .about .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .about .main-header nav li:first-of-type {
        margin-top: 20%;
    }


    /*FIRST SECTION*/


    main .about:nth-of-type(2) .container .first-about:first-of-type {
        width: 65%;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div {
        height: 424px;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div img:last-of-type {
        width: 70%;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div {
        text-align: right;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div h2 {
        width: 100%;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div p {
        width: 100%;
    }


    /*SECOND SECTION*/


    main .about:nth-of-type(3) .container .second-about div h2 {
        font-size: 2.5em;
    }

    main .about:nth-of-type(3) .container .second-about div p {
        font-size: 1.15em;
    }


    /*THIRD SECTION*/

    main .about:nth-of-type(4) {
        height: 1100px;
    }

    main .about:nth-of-type(4) .container {
        flex-direction: column;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type {
        order: 2;
        width: 100%;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type h2 {
        text-align: center;
        font-size: 1.9em;
        margin-top: 5%;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type p {
        width: 100%;
        text-align: center;
    }

    main .about:nth-of-type(4) .container .third-about:first-of-type div {
        justify-content: center;
    }

    main .about:nth-of-type(4) .container .third-about:last-of-type {
        order: 1;
        width: 85%;
        height: 495px;
        margin-top: 15%;
        margin-left: 0;
    }


    /*FOURTH SECTION*/


    main .about:nth-of-type(5) {
        height: 1000px;
    }

    main .about:nth-of-type(5) .container {
        flex-direction: column;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type {
        width: 85%;
        height: 45%;
    }

    main .about:nth-of-type(5) .container h2 {
        font-size: 1.9em;
        margin-top: 10%;
    }

    main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart {
        width: 100%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type {
        width: 100%;
        height: 38%;
        justify-content: flex-start;
        margin-top: 10%;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type h2 {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper {
        width: 90%;
        margin: 50px 0 0 0;
    }

    main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper > div {
        margin-bottom: 25px;
        width: 33%;
    }


    /*FIFTH SECTION*/

    main .about:nth-of-type(6) {
        height: 450px;
    }

    main .about:nth-of-type(6) .container {
        align-items: flex-start;
    }

    main .about:nth-of-type(6) .container .fifth-about > div {
        width: 30%;
        height: 63%;
    }

    main .about:nth-of-type(6) .container .fifth-about > div:hover div {
        top: 20%;
    }

    main .about:nth-of-type(6) button {
        bottom: 100px;
    }











    /********************************/
    /******SERVICES PAGE STYLES******/
    /********************************/



    main .services .container {
        width: 90%;
    }

    main .services:first-of-type .container {
        position: initial;
    }

    main .services .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .services .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .services .main-header nav li, main .services .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .services .main-header nav li:first-of-type {
        margin-top: 20%;
    }


    /*FIRST SECTION*/


    main .services:nth-of-type(2) {
        height: 950px;
    }

    main .services:nth-of-type(2) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(2) .container .first-service {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    main .services:nth-of-type(2) .container .first-service h2 {
        text-align: center;
    }

    main .services:nth-of-type(2) .container .first-service hr {
        top: 100px;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type {
        width: 85%;
        margin-top: 17%;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type h3 {
        text-align: center;
        margin-top: 2%;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type p {
        text-align: center;
    }

    main .services:nth-of-type(2) .container .first-service div:first-of-type button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type {
        width: 80%;
        height: auto;
        justify-content: space-between;
        position: relative;
        margin-top: 25px;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type .service-wrapper {
        width: 44%;
        margin-top: 2%;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type .service-wrapper div {
        margin-left: 0;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type .service-wrapper p {
        margin-left: 0;
    }


    /*SECOND SECTION*/


    main .services:nth-of-type(3) {
        height: auto;
    }

    main .services:nth-of-type(3) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(3) .container .second-service {
        flex-wrap: wrap;
        height: auto;
    }

    main .services:nth-of-type(3) .container .second-service > div {
        width: 48%;
        margin-top: 5%;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type {
        height: 50%;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type h3 {
        font-size: 1.4em;
        font-weight: 700;
    }

    main .services:nth-of-type(3) .container .second-service > div div:first-of-type p {
        font-size: 1em;
        width: 95%;
    }

    main .services:nth-of-type(3) .container .second-service > div:last-of-type {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        margin-bottom: 50px;
    }

    main .services:nth-of-type(3) .container .second-service > div div:last-of-type {
        height: 50%;
    }

    
    /*THIRD SECTION*/


    main .services:nth-of-type(4) {
        height: 800px;
    }

    main .services:nth-of-type(4) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(4) .container .third-service {
        height: auto;
        margin-top: 10%;
        flex-wrap: wrap;
    }

    main .services:nth-of-type(4) .container > h2 {
        top: 1%;
    }

    main .services:nth-of-type(4) .container .third-service > div {
        width: 48%;
        margin-bottom: 10%;
    }

    main .services:nth-of-type(4) .container .third-service > div:last-of-type {
        width: 65%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    main .services:nth-of-type(4) .container .third-service > div p {
        width: 85%;
    }


    /*FOURTH SECTION*/


    main .services:nth-of-type(5) {
        height: 720px;
    }

    main .services:nth-of-type(5) .container {
        align-items: flex-start;
    }

    main .services:nth-of-type(5) .container .fourth-service {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10%;
    }

    main .services:nth-of-type(5) .container .fourth-service > div {
        width: 48%;
        height: 250px;
        margin-bottom: 5%;
    }









    /*******************************/
    /******CONTACT PAGE STYLES******/
    /*******************************/

    main .contact .container {
        width: 90%;
    }

    main .contact .main-header nav {
        @include flexRow();
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
        transform: scale(0);

        &.clicked {
            animation: hamburger;
            animation-duration: .3s; 
            animation-fill-mode: forwards;
        }
    }

    main .contact .main-header nav ul {
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        font-size: 3em;
        justify-content: flex-start;
        align-items: center;
    }

    main .contact .main-header nav li, main .contact .main-header nav li:first-of-type {
        width: 50%;
        height: 10%;
        text-align: center;
        margin-top: 5%;
    }

    main .contact .main-header nav li:first-of-type {
        margin-top: 20%;
    }

    main .contact:nth-of-type(2) {
        height: 800px;
    }





    /******************************/
    /******FOOTER PAGE STYLES******/
    /******************************/


    main footer {
        height: 128px;
    }

    main footer .inner-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    main footer .container .footer-content:first-of-type {
        height: 40px;
        justify-content: flex-end;
    }

    main footer .container .footer-content:first-of-type h3 {
        margin: 0;
    }

    main footer .container .footer-content:last-of-type {
        height: 50px;
        justify-content: flex-start;
    }

    main footer .container .footer-content:last-of-type ul li:first-of-type {
        margin: 0;
    }





}







































@include responsive(tablet) {





    /****************************/
    /******HOME PAGE STYLES******/
    /****************************/





    .home section #image-slider .slide-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        z-index: 1;
    }

    .home section #image-slider .slide-title div:first-of-type {
        left: 0;
    }

    .home section #image-slider .slide-title div:nth-of-type(2) {
        left: -80%;
        top: 30%;
    }

    .home section #image-slider .slide-title div:last-of-type {
        top: 80%;
    }

    .home section #image-slider .slide-title div:first-of-type ul li {
        font-size: 7em;
    }

    .home section #image-slider .slide-title div:nth-of-type(2) {
        width: 400px;
        height: 170px;
    }



    /*SECOND SECTION*/



    .home section:nth-of-type(3) {
        height: 1075px;
    }

    .home section:nth-of-type(3) .container .inner-container .second-content:last-of-type {
        width: 85%;
    }

    .home section:nth-of-type(3) .container .inner-container .second-content:first-of-type {
        width: 85%;
    }


    /*THIRD SECTION*/



    .home section:nth-of-type(4) {
        height: 730px;
    }

    .home section:nth-of-type(4) .container .inner-container {
        align-items: center;
    }

    .home section:nth-of-type(4) .container .third-content:first-of-type {
        width: 85%;
    }

    .home section:nth-of-type(4) .container .third-content:last-of-type {
        width: 85%;
    }


    /*FOURTH SECTION*/



    .home section:nth-of-type(5) {
        height: 1100px;
    }

    .home section:nth-of-type(5) .container {
        align-items: center;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type {
        width: 85%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type {
        width: 85%;
    }

    .home section:nth-of-type(5) .container .fourth-content:first-of-type div {
        width: 100%;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div {
        margin: 0;
    }

    .home section:nth-of-type(5) .container .fourth-content:last-of-type div h2 {
        margin-top: 50px;
    }


    /*FIFTH SECTION*/


    .home section:nth-of-type(6) {
        height: 525px;

        &::before {
            height: 525px;
        }
    }

    .home section:nth-of-type(6) .container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .home section:nth-of-type(6) .container .fifth-content:first-of-type {
        width: 85%;
    }

    .home section:nth-of-type(6) .container .fifth-content:last-of-type {
        width: 85%;
    }

    .home section:nth-of-type(6) .container .fifth-content:first-of-type div p {
        text-align: center;
    }


    /*SIXTH SECTION*/



    .home section:nth-of-type(7) {
        height: 1250px;
    }

    .home section:nth-of-type(7) .container {
        align-items: center;
    }

    .home section:nth-of-type(7) .container .sixth-content:first-of-type {
        width: 85%;
    }

    .home section:nth-of-type(7) .container .sixth-content:last-of-type {
        width: 85%;
    }






    /*****************************/
    /******ABOUT PAGE STYLES******/
    /*****************************/



    /*FIRST SECTION*/


    main .about:nth-of-type(2) {
        height: 1000px;
    }

    main .about:nth-of-type(2) .container .inner-container {
        flex-direction: column;
        align-items: center;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type {
        height: auto;
        width: 85%;
        order: 2;
        margin-top: 25px;
    }

    main .about:nth-of-type(2) .container .first-about:first-of-type div {
        height: 524px;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type {
        height: auto;
        width: 85%;
        order: 1;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div h2 {
        text-align: center;
    }

    main .about:nth-of-type(2) .container .first-about:last-of-type div p {
        text-align: center;
    }



    /*SECOND SECTION*/


    main .about:nth-of-type(3) {
        height: 555px;

        &::before {
            height: 555px;
        }
    }

    main .about:nth-of-type(3) .container .second-about {
        flex-wrap: wrap;
    }

    main .about:nth-of-type(3) .container .second-about div {
        width: 50%;
        height: 50%;
    }



    /*THIRD SECTION*/


    main .about:nth-of-type(4) .container .third-about:first-of-type {
        width: 85%;
    }



    /*FOURTH SECTION*/



    main .about:nth-of-type(5) .container {
        width: 90%;
    }



    /*FIFTH SECTION*/


    main .about:nth-of-type(6) {
        height: auto;
    }

    main .about:nth-of-type(6) .container .fifth-about {
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    main .about:nth-of-type(6) .container .fifth-about > div {
        width: 85%;
    }

    main .about:nth-of-type(6) .container .fifth-about > div:first-of-type {
        margin: 15% 0 0 0;
    }

    main .about:nth-of-type(6) .container .fifth-about > div:nth-of-type(2) {
        margin: 25px 0 25px 0;
    }

    main .about:nth-of-type(6) .container .fifth-about > div:last-of-type {
        margin-bottom: 125px;
    }

    main .about:nth-of-type(6) button {
        bottom: 35px;
    }

    main .about:nth-of-type(6) .container .fifth-about > div:hover div {
        top: 25%;
    }

    main .about:nth-of-type(6) .container .fifth-about > div div h3 {
        font-size: 3em;
    }

    main .about:nth-of-type(6) .container .fifth-about > div div p {
        font-size: 1.2em;
    }









    /********************************/
    /******SERVICES PAGE STYLES******/
    /********************************/



    /*FIRST SECTION*/


    main .services:nth-of-type(2) {
        height: auto;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type {
        height: auto;
    }

    main .services:nth-of-type(2) .container .first-service div:first-of-type button {
        margin-bottom: 25px;
    }

    main .services:nth-of-type(2) .container .first-service hr {
        top: 90px;
        width: 85%;
    }

    main .services:nth-of-type(2) .container .first-service > div:first-of-type h3 {
        margin-top: 25px;
    }

    main .services:nth-of-type(2) .container .first-service > div:last-of-type {
        margin-bottom: 25px;
    }



    /*SECOND SECTION*/


    


}