main .services {
    @include flexRow();
    justify-content: center;

    .container {
        width: 75%;
        height: 100%; 
    }

    &:first-of-type {
        height: 14vh;
        background-color: #1f242c;
        @include flexRow();
        justify-content: center;
    }

    .main-header {
        width: 100%;
        height: 14vh;
        @include flexRow();
        justify-content: space-between;

        #web-logo {
            height: 100%;
            width: 25%;
            position: relative;
            background-color: maroon;
            

            img {
                height: 100%;
                width: 80%;
                object-fit: cover;
            }
        }

        nav {
            height: 100%;
            width: 29%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;
            
            ul {
                @include flexRow();
                justify-content: space-around;
                width: 100%;
                padding: 0;
            }

            li {
                width: 22%;
                list-style: none;
                text-align: center;
                font-weight: 700;

                &:nth-of-type(3) a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.5);

                    &:hover {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }

                &:first-of-type {
                    text-align: right;
                }

            }
        }
    }


    /****************/
    /*FIRST SERVICES SECTION*/
    /****************/

    &:nth-of-type(2) {
        height: 81vh;
    }

    &:nth-of-type(2) .container {
        display: flex;
        align-items: center;

        .first-service {
            width: 100%;
            height: 69vh;
            background-color: darkgoldenrod;
            @include flexRow();
            align-items: flex-end;
        }

        .first-service div {
            width: 50%;
            height: 50vh;
            background-color: black;
        }
    }


    /****************/
    /*SECOND SERVICES SECTION*/
    /****************/

    &:nth-of-type(3) {
        height: 90vh;
    }

    &:nth-of-type(3) .container {
        display: flex;
        align-items: center;

        .second-service {
            width: 100%;
            height: 78vh;
            background-color: darkgoldenrod;
            @include flexRow();
            align-items: flex-end;
        }

        .second-service div {
            flex: 1;
            height: 100%;
            background-color: black;
        }
    }


    /****************/
    /*THIRD SERVICES SECTION*/
    /****************/

    &:nth-of-type(4) {
        height: 65vh;
    }

    &:nth-of-type(4) .container {
        display: flex;
        align-items: center;

        .third-service {
            width: 100%;
            height: 53vh;
            background-color: darkgoldenrod;
            @include flexRow();
            align-items: flex-end;
        }

        .third-service div {
            flex: 1;
            height: 66%;
            background-color: black;
        }
    }


    /****************/
    /*FOURTH SERVICES SECTION*/
    /****************/

    &:nth-of-type(5) {
        height: 53vh;
    }

    &:nth-of-type(5) .container {
        display: flex;
        align-items: center;

        .fourth-service {
            width: 100%;
            height: 41vh;
            background-color: darkgoldenrod;
            @include flexRow();
            align-items: flex-end;
            justify-content: space-around;
        }

        .fourth-service div {
            width: 22%;
            height: 66%;
            background-color: black;
        }
    }




}