main .services {
    @include flexRow();
    justify-content: center;

    .container {
        width: 75%;
        height: 100%; 
        position: relative;
    }

    &:first-of-type {
        height: 14vh;
        background-color: #1f242c;
        @include flexRow();
        justify-content: center;
    }

    .main-header {
        width: 100%;
        height: 14vh;
        @include flexRow();
        justify-content: space-between;

        #web-logo {
            height: 100%;
            width: 25%;
            position: relative;
            background-color: maroon;
            

            img {
                height: 100%;
                width: 80%;
                object-fit: cover;
            }
        }

        nav {
            height: 100%;
            width: 29%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1;
            
            ul {
                @include flexRow();
                justify-content: space-around;
                width: 100%;
                padding: 0;
            }

            li {
                width: 22%;
                list-style: none;
                text-align: center;
                font-weight: 700;

                &:nth-of-type(3) a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.5);

                    &:hover {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }

                &:first-of-type {
                    text-align: right;
                }

            }
        }
    }


    /****************/
    /*FIRST SERVICES SECTION*/
    /****************/

    &:nth-of-type(2) {
        height: 81vh;
    }

    &:nth-of-type(2) .container {
        display: flex;
        align-items: center;

        .first-service {
            width: 100%;
            height: 69vh;
            @include flexRow();
            align-items: flex-end;
            justify-content: space-between;
            position: relative;

            h2 {
                position: absolute;
                top: 0;
                width: 100%;
                font-size: 2.813em;
                font-weight: 700;
                color: #212529;
            }

            hr {
                width: 100%;
                height: 0.130vw;
                border: none;
                position: absolute;
                top: 17%;
                background-color: #eeeeee;
            }

            div:first-of-type {
                width: 42%;
                height: 73%;

                h3 {
                    font-size: 2.188em;
                    font-weight: 700;
                    color: #232527;
                    margin: 0;
                }

                p {
                    @include paragraphSize();
                    margin: 10px 0 45px 0;
                }

                button {
                    @include pageButton(147px, 49px);
                }
            }

            div:last-of-type {
                width: 55.5%;
                height: 73%;
                @include flexRow();
                flex-wrap: wrap;

                .service-wrapper {
                    width: 50%;
                    height: 33%;
                    margin-bottom: 15px;
                    position: relative;
                    @include flexColumn();

                    div {
                        width: 100%;
                        height: 1.628vw;
                        margin-left: 20px;
                        @include flexRow();

                        span {
                            width: 25px;
                            height: 25px;
                            background-color: wheat;
                        }

                        h4 {
                            margin: 0;
                            margin-left: 15px;
                            color: #232527;
                            transition: color .1s linear;
                            font-size: 1.375em;
                            font-weight: 600;

                            &:hover {
                                color: #29a19c;
                            }
                        }
                        
                    }

                    p {
                        @include paragraphSize();
                        margin: 15px 0 0 20px;
                    }
                }
            }
        }

    }


    /****************/
    /*SECOND SERVICES SECTION*/
    /****************/

    &:nth-of-type(3) {
        height: 90vh;
    }

    &:nth-of-type(3) .container {
        display: flex;
        align-items: center;

        .second-service {
            width: 100%;
            height: 65vh;
            @include flexRow();
            justify-content: space-between;

        }

        .second-service > div {
            width: 31%;
            height: 100%;
            @include flexColumn();
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            &:hover::before, &:hover::after {
                width: 100%;
                height: 100%;
            }

            &::before {
                content: "";
                width: 0;
                height: 0;
                background-color: transparent;
                position: absolute;
                border: 3px solid #29a19c;
                transition: width .5s linear, height .5s linear;
                border-radius: 10px;
                border-right: transparent;
                border-bottom: transparent;
                z-index: 1;
            }

            &::after {
                content: "";
                width: 0;
                height: 0;
                bottom: 0;
                right: 0;
                background-color: transparent;
                position: absolute;
                border: 3px solid #29a19c;
                transition: width .5s linear, height .5s linear;
                border-radius: 10px;
                border-top: transparent;
                border-left: transparent;
                z-index: 1;
            }
            
            div:first-of-type {
                width: 100%;
                height: 45%;
                background-color: #fff;
                @include flexColumn();
                align-items: center;

                span {
                    width: 2.083vw;
                    height: 1.953vw;
                    background-color: springgreen;
                    margin-top: 10%;
                    margin-bottom: 10%;
                }

                h3 {
                    font-size: 1.563em;
                    font-weight: 600;
                    color: #232527;
                    margin: 0;
                }

                p {
                    text-align: center;
                    @include paragraphSize();
                }
            }

            div:last-of-type {
                width: 100%;
                height: 55%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }


    /****************/
    /*THIRD SERVICES SECTION*/
    /****************/

    &:nth-of-type(4) {
        height: 65vh;
    }

    &:nth-of-type(4) .container > h2 {
        position: absolute;
        top: 7%;
        width: 100%;
        text-align: center;
        font-size: 2.500em;
        font-weight: 700;
        color: #232527;
    }

    &:nth-of-type(4) .container {
        display: flex;
        align-items: center;

        .third-service {
            width: 100%;
            height: 53vh;
            @include flexRow();
            align-items: flex-end;
            justify-content: space-between;
            position: relative;
        }

        

        .third-service > div {
            width: 31%;
            height: 63%;
            @include flexColumn();
            align-items: center;
            background-color: rgba(41, 161, 156, 0.1);
            border-radius: 10px;
            transition: background-color .2s linear;

            &:hover {
                background-color: #1f242c;

                h2 {
                    color: #fff;
                }

                p {
                    color: #cccccc;
                }
            }

            div {
                width: 80px;
                height: 80px;
                background-color: #29a19c;
                border-radius: 50%;
                @include absoluteCenter();
                position: relative;
                top: -15%;

                span {
                    width: 28px;
                    height: 26px;
                    background-color: sandybrown;
                }
            }

            h2 {
                color: #232527;
                font-size: 1.375em;
                font-weight: 700;
                transition: color .2s linear;
                margin-top: 0;
            }

            p {
                @include paragraphSize();
                margin: 0;
                text-align: center;
                width: 90%;
                transition: color .2s linear;
            }

            h3 {
                color: #29a19c;
                font-size: 1.063em;
                font-weight: 700;
            }
            
        }
    }


    /****************/
    /*FOURTH SERVICES SECTION*/
    /****************/

    &:nth-of-type(5) {
        height: 53vh;
    }

    &:nth-of-type(5) .container {
        display: flex;
        align-items: center;

        .fourth-service {
            width: 100%;
            height: 41vh;
            @include flexRow();
            align-items: flex-end;
            justify-content: space-around;

            div div {
                width: 100%;
                height: 100%;
                background-color: #1f242c;
                @include flexColumn();
                align-items: center;
                border-radius: 10px;

                &:hover {
                    div {
                        top: -15%;
                    }

                    h2 {
                        top: 0;
                    }

                    p {
                        transform: scale(1);
                    }

                    h3 {
                        transform: scale(1);
                    }
                }
    
                div {
                    width: 76px;
                    height: 78px;
                    background-color: #29a19c;
                    border-radius: 50%;
                    @include absoluteCenter();
                    position: relative;
                    top: 25%;
                    transition: top .2s linear;
    
                    span {
                        width: 25px;
                        height: 25px;
                        background-color: sandybrown;
                    }
                }
    
                h2 {
                    color: #fff;
                    font-size: 1.375em;
                    font-weight: 700;
                    transition: color .2s linear, top .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    margin-top: 0;
                    position: relative;
                    top: 34%;
                }
    
                p {
                    @include paragraphSize();
                    color: #cccccc;
                    margin: 0;
                    text-align: center;
                    width: 90%;
                    transform: scale(0);
                    transition: color .2s linear, transform .6s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
                }
    
                h3 {
                    color: #29a19c;
                    font-size: 1.063em;
                    font-weight: 700;
                    transform: scale(0);
                    transition: transform .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
        }

        .fourth-service > div {
            width: 23%;
            height: 81%;
        }
    }




}