html, body {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.home .polygon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #222831;
  z-index: 0;
  overflow: hidden;
}

.home .polygon div {
  width: 100%;
  height: 100vh;
  background-color: #1B1C21;
  margin-left: 10.5%;
  position: relative;
  top: -40%;
  left: -20%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /****************/
  /*FIRST SECTION*/
  /****************/
  /****NAV DOTS****/
  /****************/
  /*SECOND SECTION*/
  /****************/
  /****************/
  /*THIRD SECTION*/
  /****************/
  /****************/
  /*FOURTH SECTION*/
  /****************/
  /****************/
  /*FIFTH SECTION*/
  /****************/
  /****************/
  /*SIXTH SECTION*/
  /****************/
  /****************/
  /*SEVENTH SECTION*/
  /****************/
}

.home section:nth-child(even) {
  background-color: #f8f9fa;
}

.home section .container {
  width: 75%;
  height: 100%;
}

.home section:first-of-type {
  height: 14vh;
}

.home section .main-header {
  width: 100%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home section .main-header #web-logo {
  height: 100%;
  width: 25%;
  position: relative;
  background-color: maroon;
}

.home section .main-header #web-logo img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home section .main-header nav {
  height: 100%;
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

.home section .main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0;
}

.home section .main-header nav li {
  width: 22%;
  list-style: none;
  text-align: center;
  font-weight: 700;
}

.home section .main-header nav li:first-of-type a {
  color: #fff;
}

.home section .main-header nav li:first-of-type a:hover {
  color: #fff;
}

.home section .main-header nav li a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.home section .main-header nav li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.home section .main-header nav li:first-of-type {
  text-align: right;
}

.home section:nth-of-type(2) {
  height: 86vh;
}

.home section:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home section #image-slider {
  width: 100%;
  height: 62%;
  margin-top: 7%;
  margin-left: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home section #image-slider .slide-title {
  width: auto;
  position: relative;
}

.home section #image-slider .slide-title div:first-of-type {
  position: absolute;
  width: 240px;
  height: 240px;
  top: -15%;
  left: 42%;
  overflow: hidden;
}

.home section #image-slider .slide-title div:first-of-type ul {
  height: 100%;
  width: 960px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home section #image-slider .slide-title div:first-of-type ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 9em;
  font-weight: 800;
}

.home section #image-slider .slide-title div:nth-of-type(2) {
  position: absolute;
  width: 400px;
  height: 170px;
  top: 38%;
  left: 18%;
  z-index: 2;
  overflow: hidden;
}

.home section #image-slider .slide-title div:nth-of-type(2) .h1-wrapper {
  width: 100%;
  height: auto;
  left: 0;
  top: -300%;
  -webkit-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
}

.home section #image-slider .slide-title div:nth-of-type(2) .h1-wrapper h1 {
  height: 170px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5em;
}

.home section #image-slider .slide-title div:last-of-type {
  position: relative;
  top: 85%;
  overflow: hidden;
  height: 60px;
}

.home section #image-slider .slide-title div:last-of-type ul {
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  top: 0;
  -webkit-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
}

.home section #image-slider .slide-title div:last-of-type ul li {
  list-style: none;
}

.home section #image-slider .slide-title div:last-of-type button {
  width: 150px;
  height: 60px;
  background-color: #29a19c;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear;
  cursor: pointer;
  margin-bottom: 8%;
}

.home section #image-slider .slide-title div:last-of-type button:hover {
  color: #a3f7bf;
  background-color: #1f242c;
}

.home section #image-slider .slide-container {
  overflow: hidden;
  min-width: 100vw;
  margin-left: 1.4%;
}

.home section #image-slider .slide-pics {
  width: auto;
  height: 100%;
  min-width: 2520px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  left: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.home section #image-slider .slide-pics div {
  height: 100%;
  width: 560px;
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home section #image-slider .slide-pics div .img-container {
  width: 100%;
  height: 80%;
  margin: 0;
  border-radius: 2%;
  position: relative;
}

.home section #image-slider .slide-pics div .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.home section #nav-dots {
  width: 10%;
  height: 5%;
  background-color: indigo;
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home section #nav-dots ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home section #nav-dots ul li {
  list-style: none;
  height: 20%;
  width: 22%;
  background-color: black;
  margin-right: 2%;
}

.home section:nth-of-type(3) {
  height: 83vh;
}

.home section:nth-of-type(3) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home section:nth-of-type(3) .container div:first-of-type {
  width: 68%;
}

.home section:nth-of-type(3) .container div:last-of-type {
  width: 32%;
}

.home section:nth-of-type(3) .container .second-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home section:nth-of-type(3) .container .second-content div {
  width: 100%;
  height: 78%;
}

.home section:nth-of-type(3) .container .second-content div h2 {
  font-size: 40px;
  margin-top: 0;
  color: #232527;
}

.home section:nth-of-type(3) .container .second-content div p {
  font-size: 17px;
  line-height: 26px;
  width: 90%;
  color: #777777;
}

.home section:nth-of-type(3) .container .second-content div button {
  width: 145px;
  height: 49px;
  margin-top: 2%;
  background-color: #29a19c;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear;
  cursor: pointer;
}

.home section:nth-of-type(3) .container .second-content div button:hover {
  color: #a3f7bf;
  background-color: #1f242c;
}

.home section:nth-of-type(3) .container .second-content div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.home section:nth-of-type(4) {
  height: 110vh;
}

.home section:nth-of-type(4) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home section:nth-of-type(4) .container .third-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.home section:nth-of-type(4) .container .third-content:first-of-type {
  height: 61%;
}

.home section:nth-of-type(4) .container .third-content:last-of-type {
  margin-top: .8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home section:nth-of-type(4) .container .third-content:last-of-type div {
  width: 16%;
  overflow: hidden;
  border-radius: 10px;
}

.home section:nth-of-type(4) .container .third-content:last-of-type div img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

.home section:nth-of-type(4) .container .third-content:last-of-type div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home section:nth-of-type(5) {
  height: 93vh;
}

.home section:nth-of-type(5) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home section:nth-of-type(5) .container .fourth-content:first-of-type {
  -ms-flex-preferred-size: 54%;
      flex-basis: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home section:nth-of-type(5) .container .fourth-content:first-of-type div {
  width: 100%;
  height: 73%;
}

.home section:nth-of-type(5) .container .fourth-content:first-of-type div img {
  width: 95%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type div {
  width: 100%;
  height: 73%;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type div h2 {
  font-size: 35px;
  line-height: 40px;
  margin: 0;
  color: #232527;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type div h3 {
  font-size: 25px;
  line-height: 30px;
  margin-top: 15px;
  color: #999999;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type div p {
  font-size: 17px;
  line-height: 26px;
  color: #777;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type div button {
  width: 184px;
  height: 49px;
  background-color: #29a19c;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear;
  cursor: pointer;
}

.home section:nth-of-type(5) .container .fourth-content:last-of-type div button:hover {
  color: #a3f7bf;
  background-color: #1f242c;
}

.home section:nth-of-type(6) {
  height: 58vh;
  background-image: url(../img/fourth1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.home section:nth-of-type(6)::before {
  content: "";
  width: 100%;
  height: 58vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.home section:nth-of-type(6) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.home section:nth-of-type(6) .container .fifth-content:first-of-type {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home section:nth-of-type(6) .container .fifth-content:first-of-type div {
  width: 100%;
  height: 53%;
}

.home section:nth-of-type(6) .container .fifth-content:first-of-type div p {
  font-size: 33px;
  line-height: 42px;
  font-weight: 600;
  margin: 0;
  color: #eeeeee;
}

.home section:nth-of-type(6) .container .fifth-content:last-of-type {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home section:nth-of-type(6) .container .fifth-content:last-of-type div {
  width: 100%;
  height: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home section:nth-of-type(6) .container .fifth-content:last-of-type div div {
  width: 120px;
  height: 120px;
}

.home section:nth-of-type(6) .container .fifth-content:last-of-type div div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.home section:nth-of-type(6) .container .fifth-content:last-of-type div h3 {
  margin-bottom: 0;
  color: #fff;
}

.home section:nth-of-type(6) .container .fifth-content:last-of-type div p {
  margin-top: 5px;
  color: #cccccc;
}

.home section:nth-of-type(7) {
  height: 101vh;
}

.home section:nth-of-type(7) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home section:nth-of-type(7) .container .sixth-content:first-of-type {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}

.home section:nth-of-type(7) .container .sixth-content:first-of-type h2 {
  font-size: 35px;
  line-height: 40px;
  margin-top: 85px;
  margin-bottom: 10px;
  color: #232527;
}

.home section:nth-of-type(7) .container .sixth-content:first-of-type h3 {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: #999999;
}

.home section:nth-of-type(7) .container .sixth-content:first-of-type p {
  font-size: 17px;
  line-height: 26px;
  margin-top: 20px;
  color: #777777;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type div {
  width: 100%;
  height: 38%;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type div:first-of-type {
  background-image: url(../img/sixth1.jpg);
  background-size: cover;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type div:first-of-type span {
  width: 320px;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type div:last-of-type {
  background-image: url(../img/sixth2.jpg);
  background-size: cover;
  margin-top: 15px;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type div:last-of-type span {
  width: 256px;
}

.home section:nth-of-type(7) .container .sixth-content:last-of-type div span {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f242c;
  color: #a3f7bf;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.home section:last-of-type {
  height: 41vh;
  background-color: #29a19c;
}

.home section:last-of-type .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home section:last-of-type .container p {
  font-size: 18px;
  margin-top: 0;
  color: #eaeaea;
}

.home section:last-of-type .container h2 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.home section:last-of-type .container div {
  width: 286px;
  height: 49px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home section:last-of-type .container div span {
  width: 143px;
  height: 49px;
  background-color: #222831;
  color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home section:last-of-type .container div span:hover {
  color: #a3f7bf;
}

.home section:last-of-type .container div button {
  background-color: #29a19c;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear;
  cursor: pointer;
  background-color: #fff;
  color: #29a19c;
  width: 120px;
  height: 49px;
  margin-left: 10px;
}

.home section:last-of-type .container div button:hover {
  color: #a3f7bf;
  background-color: #1f242c;
}

.home footer {
  width: 100%;
  height: 11vh;
  background-color: #222831;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home footer .container {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home footer .container .footer-content:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home footer .container .footer-content:first-of-type h3 {
  font-size: 17px;
  font-weight: 400;
  color: #aaaaaa;
}

.home footer .container .footer-content:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home footer .container .footer-content:last-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

.home footer .container .footer-content:last-of-type ul li {
  list-style: none;
  width: 16px;
  height: 16px;
  background-color: darkolivegreen;
  position: relative;
  margin-left: 25px;
}

.home footer .container .footer-content:last-of-type ul li img {
  width: 100%;
  height: 100%;
  fill: darkviolet;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /****************/
  /*FIRST ABOUT SECTION*/
  /****************/
  /****************/
  /*SECOND ABOUT SECTION*/
  /****************/
  /****************/
  /*THIRD ABOUT SECTION*/
  /****************/
  /****************/
  /*FOURTH ABOUT SECTION*/
  /****************/
  /****************/
  /*FIFTH ABOUT SECTION*/
  /****************/
}

main .about .container {
  width: 75%;
  height: 100%;
}

main .about:first-of-type {
  height: 14vh;
  background-color: #1f242c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about .main-header {
  width: 100%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about .main-header #web-logo {
  height: 100%;
  width: 25%;
  position: relative;
  background-color: maroon;
}

main .about .main-header #web-logo img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .about .main-header nav {
  height: 100%;
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

main .about .main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0;
}

main .about .main-header nav li {
  width: 22%;
  list-style: none;
  text-align: center;
  font-weight: 700;
}

main .about .main-header nav li:nth-of-type(2) a {
  color: #fff;
}

main .about .main-header nav li:nth-of-type(2) a:hover {
  color: #fff;
}

main .about .main-header nav li a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

main .about .main-header nav li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

main .about .main-header nav li:first-of-type {
  text-align: right;
}

main .about:nth-of-type(2) {
  height: 77vh;
}

main .about:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .about:nth-of-type(2) .container .first-about:first-of-type {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(2) .container .first-about:first-of-type div {
  position: relative;
}

main .about:nth-of-type(2) .container .first-about:first-of-type div img:first-of-type {
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

main .about:nth-of-type(2) .container .first-about:first-of-type div img:last-of-type {
  width: 55%;
  height: 65%;
  position: absolute;
  right: 0;
  bottom: 0;
}

main .about:nth-of-type(2) .container .first-about:last-of-type {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(2) .container .first-about:last-of-type div {
  margin-left: 50px;
}

main .about:nth-of-type(2) .container .first-about:last-of-type div h2 {
  font-size: 30px;
  font-weight: 600;
  width: 507px;
}

main .about:nth-of-type(2) .container .first-about:last-of-type div p {
  font-size: 22px;
  line-height: 30px;
  color: #777777;
  width: 507px;
}

main .about:nth-of-type(2) .container .first-about:last-of-type div p:nth-of-type(2) {
  margin-top: 10px;
  margin-bottom: 0;
}

main .about:nth-of-type(2) .container .first-about:last-of-type div p:nth-of-type(3) {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin-top: 5px;
}

main .about:nth-of-type(2) .container .first-about:last-of-type div img {
  width: 300px;
  height: 115px;
}

main .about:nth-of-type(2) .container .first-about div {
  width: 100%;
  height: 64vh;
}

main .about:nth-of-type(3) {
  height: 47vh;
  background-image: url(../img/about-second1.jpg);
  background-size: cover;
}

main .about:nth-of-type(3)::before {
  content: "";
  width: 100%;
  height: 47vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

main .about:nth-of-type(3) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

main .about:nth-of-type(3) .container .second-about {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about:nth-of-type(3) .container .second-about div {
  width: 24%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about:nth-of-type(3) .container .second-about div span {
  display: block;
  width: 40px;
  height: 40px;
  background-color: mediumblue;
}

main .about:nth-of-type(3) .container .second-about div h2 {
  width: 100%;
  height: 60px;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
}

main .about:nth-of-type(3) .container .second-about div p {
  width: 100%;
  font-size: 20px;
  color: #eeeeee;
  margin-top: 10px;
  text-align: center;
}

main .about:nth-of-type(4) {
  height: 80vh;
}

main .about:nth-of-type(4) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(4) .container .third-about:first-of-type {
  width: 60%;
  height: 68%;
}

main .about:nth-of-type(4) .container .third-about:first-of-type h2 {
  font-size: 30px;
  font-weight: 700;
  color: #212529;
  margin-top: 0;
}

main .about:nth-of-type(4) .container .third-about:first-of-type p {
  font-size: 17px;
  line-height: 26px;
  color: #777777;
  width: 634px;
}

main .about:nth-of-type(4) .container .third-about:first-of-type p:first-of-type {
  margin-bottom: 0;
}

main .about:nth-of-type(4) .container .third-about:first-of-type p:last-of-type {
  margin-top: 8px;
}

main .about:nth-of-type(4) .container .third-about:first-of-type div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 45px;
}

main .about:nth-of-type(4) .container .third-about:first-of-type div span {
  width: 119px;
  height: 49px;
  background-color: #222831;
  color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(4) .container .third-about:first-of-type div span:hover {
  color: #a3f7bf;
}

main .about:nth-of-type(4) .container .third-about:first-of-type div button {
  width: 165px;
  height: 49px;
  margin-right: 8px;
  background-color: #29a19c;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear;
  cursor: pointer;
}

main .about:nth-of-type(4) .container .third-about:first-of-type div button:hover {
  color: #a3f7bf;
  background-color: #1f242c;
}

main .about:nth-of-type(4) .container .third-about:last-of-type {
  width: 40%;
  height: 68%;
}

main .about:nth-of-type(4) .container .third-about:last-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

main .about:nth-of-type(5) {
  height: 70vh;
}

main .about:nth-of-type(5) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type {
  width: 50%;
  height: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type h2 {
  font-size: 30px;
  color: #232527;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart {
  width: 540px;
  height: 264px;
  color: #777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper h3 {
  font-size: 17px;
  font-weight: 400;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper p {
  font-weight: 600;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper div:last-of-type {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper div:last-of-type::before {
  content: "";
  height: inherit;
  background-color: #29a19c;
  position: absolute;
  border-radius: 50px;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper:first-of-type div:last-of-type::before {
  width: 80%;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper:nth-of-type(2) div:last-of-type::before {
  width: 70%;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper:nth-of-type(3) div:last-of-type::before {
  width: 90%;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type #skills-chart .chart-wrapper:last-of-type div:last-of-type::before {
  width: 75%;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type {
  width: 50%;
  height: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type h2 {
  font-size: 30px;
  color: #232527;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper {
  width: 474px;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper div {
  width: 33.33%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper div div {
  width: 65px;
  height: 65px;
  background-color: silver;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper div div span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: goldenrod;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type #hobbies-wrapper div h3 {
  font-size: 20px;
  color: #232527;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .about:nth-of-type(6) {
  height: 77vh;
  position: relative;
}

main .about:nth-of-type(6) button {
  position: absolute;
  bottom: 30px;
  background-color: #29a19c;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: color .1s linear, background-color .1s linear;
  transition: color .1s linear, background-color .1s linear;
  cursor: pointer;
  width: 143px;
  height: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .about:nth-of-type(6) button:hover {
  color: #a3f7bf;
  background-color: #1f242c;
}

main .about:nth-of-type(6) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(6) .container .fifth-about {
  width: 100%;
  height: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

main .about:nth-of-type(6) .container .fifth-about h2 {
  position: absolute;
  top: 0;
  margin: 0;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 1.75rem;
}

main .about:nth-of-type(6) .container .fifth-about > div {
  width: 350px;
  height: 73%;
  position: relative;
  margin-bottom: 25px;
}

main .about:nth-of-type(6) .container .fifth-about > div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

main .about:nth-of-type(6) .container .fifth-about > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

main .about:nth-of-type(6) .container .fifth-about > div div {
  position: absolute;
  width: 100%;
  top: 80%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top .3s linear, opacity .3s linear;
  transition: top .3s linear, opacity .3s linear;
}

main .about:nth-of-type(6) .container .fifth-about > div div h3 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

main .about:nth-of-type(6) .container .fifth-about > div div p {
  color: #fff;
  margin-top: 15px;
  font-size: 12px;
}

main .about:nth-of-type(6) .container .fifth-about > div:hover::before {
  opacity: 1;
}

main .about:nth-of-type(6) .container .fifth-about > div:hover div {
  top: 25%;
  opacity: 1;
}

main footer {
  width: 100%;
  height: 11vh;
  background-color: #222831;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer .container {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main footer .container .footer-content:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer .container .footer-content:first-of-type h3 {
  font-size: 17px;
  font-weight: 400;
  color: #aaaaaa;
}

main footer .container .footer-content:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer .container .footer-content:last-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

main footer .container .footer-content:last-of-type ul li {
  list-style: none;
  width: 16px;
  height: 16px;
  background-color: darkolivegreen;
  position: relative;
  margin-left: 25px;
}

main footer .container .footer-content:last-of-type ul li img {
  width: 100%;
  height: 100%;
  fill: darkviolet;
}

main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /****************/
  /*FIRST SERVICES SECTION*/
  /****************/
  /****************/
  /*SECOND SERVICES SECTION*/
  /****************/
  /****************/
  /*THIRD SERVICES SECTION*/
  /****************/
  /****************/
  /*FOURTH SERVICES SECTION*/
  /****************/
}

main .services .container {
  width: 75%;
  height: 100%;
}

main .services:first-of-type {
  height: 14vh;
  background-color: #1f242c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .services .main-header {
  width: 100%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .services .main-header #web-logo {
  height: 100%;
  width: 25%;
  position: relative;
  background-color: maroon;
}

main .services .main-header #web-logo img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .services .main-header nav {
  height: 100%;
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

main .services .main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0;
}

main .services .main-header nav li {
  width: 22%;
  list-style: none;
  text-align: center;
  font-weight: 700;
}

main .services .main-header nav li:nth-of-type(3) a {
  color: #fff;
}

main .services .main-header nav li:nth-of-type(3) a:hover {
  color: #fff;
}

main .services .main-header nav li a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

main .services .main-header nav li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

main .services .main-header nav li:first-of-type {
  text-align: right;
}

main .services:nth-of-type(2) {
  height: 81vh;
}

main .services:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(2) .container .first-service {
  width: 100%;
  height: 69vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .services:nth-of-type(2) .container .first-service div {
  width: 50%;
  height: 50vh;
  background-color: black;
}

main .services:nth-of-type(3) {
  height: 90vh;
}

main .services:nth-of-type(3) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(3) .container .second-service {
  width: 100%;
  height: 78vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .services:nth-of-type(3) .container .second-service div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: black;
}

main .services:nth-of-type(4) {
  height: 65vh;
}

main .services:nth-of-type(4) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(4) .container .third-service {
  width: 100%;
  height: 53vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .services:nth-of-type(4) .container .third-service div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 66%;
  background-color: black;
}

main .services:nth-of-type(5) {
  height: 53vh;
}

main .services:nth-of-type(5) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(5) .container .fourth-service {
  width: 100%;
  height: 41vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .services:nth-of-type(5) .container .fourth-service div {
  width: 22%;
  height: 66%;
  background-color: black;
}

main .contact {
  /****************/
  /*CONTACT FORM SECTION*/
  /****************/
}

main .contact:first-of-type {
  height: 14vh;
  background-color: brown;
}

main .contact:first-of-type .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact:nth-of-type(2) {
  height: 105vh;
}

main .contact:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact:nth-of-type(2) .container .form-content {
  width: 62%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */