









html, body {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: grey;

    section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        &:nth-child(odd) {
            background-color: indianred;
        }
        &:nth-child(even) {
            background-color: indigo;
        }

        header {
            width: 100%;
            height: 10vh;
            background-color: lightblue;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                height: 100%;
                width: 10%;
                background-color: maroon;
            }

            nav {
                height: 100%;
                width: 50%;
                background-color: mediumpurple;
                
                ul {
                    display: flex;
                    flex-direction: row;
                }

                li {
                    flex: 1;
                }
            }
        }

        div {
            width: 75%;
            height: 100%;
            background-color: lightseagreen;
        }
    }

    footer {
        width: 100%;
        height: 15vh;
        background-color: khaki;
    }
}