html, body {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-color: grey;
}

main section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /****************/
  /*FIRST SECTION*/
  /****************/
  /****************/
  /*SECOND SECTION*/
  /****************/
  /****************/
  /*THIRD SECTION*/
  /****************/
  /****************/
  /*FOURTH SECTION*/
  /****************/
  /****************/
  /*FIFTH SECTION*/
  /****************/
  /****************/
  /*SIXTH SECTION*/
  /****************/
  /****************/
  /*SEVENTH SECTION*/
  /****************/
}

main section:nth-child(odd) {
  background-color: indianred;
}

main section:nth-child(even) {
  background-color: indigo;
}

main section .container {
  width: 75%;
  height: 100%;
  background-color: lightseagreen;
}

main section:first-of-type {
  height: 14vh;
}

main section header {
  width: 100%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section header #web-logo {
  height: 100%;
  width: 25%;
  position: relative;
  background-color: maroon;
}

main section header #web-logo img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section header nav {
  height: 100%;
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0;
}

main section header nav li {
  width: 22%;
  list-style: none;
  text-align: center;
  font-weight: 700;
}

main section header nav li a {
  cursor: pointer;
  text-decoration: none;
  color: gray;
}

main section header nav li a:hover {
  color: lightgray;
}

main section header nav li:first-of-type {
  text-align: right;
}

main section:nth-of-type(2) {
  height: 86vh;
}

main section:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section #image-slider {
  width: 100%;
  height: 62%;
  background-color: lightgreen;
  margin-left: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section #image-slider .slide-title {
  width: auto;
  background-color: hotpink;
}

main section #image-slider .slide-title button {
  width: 150px;
  height: 60px;
}

main section #image-slider .slide-pics {
  width: auto;
  background-color: lawngreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section #image-slider .slide-pics div {
  height: 100%;
  width: 560px;
  background-color: magenta;
  margin-right: 70px;
}

main section:nth-of-type(3) {
  height: 83vh;
}

main section:nth-of-type(3) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section:nth-of-type(3) .container div:first-of-type {
  width: 68%;
  background-color: brown;
}

main section:nth-of-type(3) .container div:last-of-type {
  width: 32%;
  background-color: darkcyan;
}

main section:nth-of-type(3) .container .second-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-of-type(3) .container .second-content div {
  width: 100%;
  height: 78%;
  background-color: black;
}

main section:nth-of-type(4) {
  height: 110vh;
}

main section:nth-of-type(4) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section:nth-of-type(4) .container .third-content:first-of-type {
  -ms-flex-preferred-size: 61%;
      flex-basis: 61%;
  background-color: blueviolet;
}

main section:nth-of-type(4) .container .third-content:last-of-type {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  background-color: chocolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section:nth-of-type(4) .container .third-content:last-of-type div {
  width: 16%;
  background-color: black;
}

main section:nth-of-type(5) {
  height: 93vh;
}

main section:nth-of-type(5) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section:nth-of-type(5) .container .fourth-content:first-of-type {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-of-type(5) .container .fourth-content:first-of-type div {
  width: 50%;
  height: 73%;
  background-color: blue;
}

main section:nth-of-type(5) .container .fourth-content:last-of-type {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: chocolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-of-type(5) .container .fourth-content:last-of-type div {
  width: 100%;
  height: 73%;
  background-color: blue;
}

main section:nth-of-type(6) {
  height: 54vh;
}

main section:nth-of-type(6) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section:nth-of-type(6) .container .fifth-content:first-of-type {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-of-type(6) .container .fifth-content:first-of-type div {
  width: 100%;
  height: 53%;
  background-color: blue;
}

main section:nth-of-type(6) .container .fifth-content:last-of-type {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: chocolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section:nth-of-type(6) .container .fifth-content:last-of-type div {
  width: 100%;
  height: 53%;
  background-color: blue;
}

main section:nth-of-type(7) {
  height: 101vh;
}

main section:nth-of-type(7) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section:nth-of-type(7) .container .sixth-content:first-of-type {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
  background-color: blueviolet;
}

main section:nth-of-type(7) .container .sixth-content:last-of-type {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  background-color: chocolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section:nth-of-type(7) .container .sixth-content:last-of-type div {
  width: 100%;
  height: 38%;
  background-color: blue;
}

main section:last-of-type {
  height: 41vh;
}

main footer {
  width: 100%;
  height: 11vh;
  background-color: khaki;
}

main .about {
  /****************/
  /*FIRST ABOUT SECTION*/
  /****************/
  /****************/
  /*SECOND ABOUT SECTION*/
  /****************/
  /****************/
  /*THIRD ABOUT SECTION*/
  /****************/
  /****************/
  /*FOURTH ABOUT SECTION*/
  /****************/
  /****************/
  /*FIFTH ABOUT SECTION*/
  /****************/
}

main .about:first-of-type {
  height: 14vh;
  background-color: brown;
}

main .about:first-of-type .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(2) {
  height: 77vh;
}

main .about:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .about:nth-of-type(2) .container .first-about:first-of-type {
  width: 50%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(2) .container .first-about:last-of-type {
  width: 50%;
  background-color: darkolivegreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(2) .container .first-about div {
  width: 100%;
  height: 64vh;
  background-color: black;
}

main .about:nth-of-type(3) {
  height: 47vh;
}

main .about:nth-of-type(3) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(3) .container .second-about {
  width: 100%;
  height: 80%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .about:nth-of-type(3) .container .second-about div {
  width: 24%;
  height: 100%;
  background-color: black;
}

main .about:nth-of-type(4) {
  height: 80vh;
}

main .about:nth-of-type(4) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(4) .container .third-about:first-of-type {
  width: 60%;
  height: 68%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about:nth-of-type(4) .container .third-about:last-of-type {
  width: 40%;
  height: 68%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about:nth-of-type(4) .container .third-about div {
  width: 24%;
  height: 100%;
  background-color: black;
}

main .about:nth-of-type(5) {
  height: 70vh;
}

main .about:nth-of-type(5) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(5) .container .fourth-about:first-of-type {
  width: 50%;
  height: 68%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about:nth-of-type(5) .container .fourth-about:last-of-type {
  width: 50%;
  height: 68%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about:nth-of-type(5) .container .fourth-about div {
  width: 100%;
  height: 100%;
  background-color: black;
}

main .about:nth-of-type(6) {
  height: 77vh;
}

main .about:nth-of-type(6) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(6) .container .fifth-about {
  width: 100%;
  height: 64%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about:nth-of-type(6) .container .fifth-about div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 73%;
  background-color: black;
}

main .services {
  /****************/
  /*FIRST SERVICES SECTION*/
  /****************/
  /****************/
  /*SECOND SERVICES SECTION*/
  /****************/
  /****************/
  /*THIRD SERVICES SECTION*/
  /****************/
  /****************/
  /*FOURTH SERVICES SECTION*/
  /****************/
}

main .services:first-of-type {
  height: 14vh;
  background-color: brown;
}

main .services:first-of-type .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(2) {
  height: 81vh;
}

main .services:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(2) .container .first-service {
  width: 100%;
  height: 69vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .services:nth-of-type(2) .container .first-service div {
  width: 50%;
  height: 50vh;
  background-color: black;
}

main .services:nth-of-type(3) {
  height: 90vh;
}

main .services:nth-of-type(3) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(3) .container .second-service {
  width: 100%;
  height: 78vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .services:nth-of-type(3) .container .second-service div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: black;
}

main .services:nth-of-type(4) {
  height: 65vh;
}

main .services:nth-of-type(4) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(4) .container .third-service {
  width: 100%;
  height: 53vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .services:nth-of-type(4) .container .third-service div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 66%;
  background-color: black;
}

main .services:nth-of-type(5) {
  height: 53vh;
}

main .services:nth-of-type(5) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services:nth-of-type(5) .container .fourth-service {
  width: 100%;
  height: 41vh;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .services:nth-of-type(5) .container .fourth-service div {
  width: 22%;
  height: 66%;
  background-color: black;
}

main .contact {
  /****************/
  /*CONTACT FORM SECTION*/
  /****************/
}

main .contact:first-of-type {
  height: 14vh;
  background-color: brown;
}

main .contact:first-of-type .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact:nth-of-type(2) {
  height: 105vh;
}

main .contact:nth-of-type(2) .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact:nth-of-type(2) .container .form-content {
  width: 62%;
  background-color: darkgoldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */