




html, body {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: grey;

    section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        &:nth-child(odd) {
            background-color: indianred;
        }
        &:nth-child(even) {
            background-color: indigo;
        }

        header {
            width: 100%;
            height: 10vh;
            background-color: lightblue;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                height: 100%;
                width: 25%;
                background-color: maroon;
            }

            nav {
                height: 100%;
                width: 40%;
                background-color: mediumpurple;
                
                ul {
                    display: flex;
                    flex-direction: row;
                }

                li {
                    flex: 1;
                    list-style: none;
                }
            }
        }

        .container {
            width: 75%;
            height: 100%;
            background-color: lightseagreen;
        }


        /****************/
        /*SECOND SECTION*/
        /****************/

        &:nth-of-type(2) {
            height: 83vh;
        }


        &:nth-of-type(2) .container {
            display: flex;

            div:first-of-type {
                width: 68%;
                background-color: brown;
            }

            div:last-of-type {
                width: 32%;
                background-color: darkcyan;
            }

            .second-content {
                display: flex;
                align-items: center;

                div {
                    width: 100%;
                    height: 78%;
                    background-color: black;  
                }

                
            }
        }


        /****************/
        /*THIRD SECTION*/
        /****************/

        &:nth-of-type(3) {
            height: 110vh;
        }

        &:nth-of-type(3) .container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .third-content:first-of-type {
                flex-basis: 61%;
                background-color: blueviolet;
            }

            .third-content:last-of-type {
                flex-basis: 15%;
                background-color: chocolate;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div {
                    width: 16%;
                    background-color: black;
                }
            }
        }


        /****************/
        /*FOURTH SECTION*/
        /****************/

        &:nth-of-type(4) {
            height: 93vh;
        }

        &:nth-of-type(4) .container {
            display: flex;
            flex-direction: row;

            .fourth-content:first-of-type {
                flex-basis: 50%;
                background-color: blueviolet;
                display: flex;
                align-items: center;
                div {
                    width: 50%;
                    height: 73%;
                    background-color: blue;
                }
            }

            .fourth-content:last-of-type {
                flex-basis: 50%;
                background-color: chocolate;
                display: flex;
                align-items: center;
                div {
                    width: 100%;
                    height: 73%;
                    background-color: blue;
                }
            }
        }


        /****************/
        /*FIFTH SECTION*/
        /****************/

        &:nth-of-type(5) {
            height: 54vh;
        }

        &:nth-of-type(5) .container {
            display: flex;
            flex-direction: row;

            .fifth-content:first-of-type {
                flex-basis: 75%;
                background-color: blueviolet;
                display: flex;
                align-items: center;
                div {
                    width: 100%;
                    height: 53%;
                    background-color: blue;
                }
            }

            .fifth-content:last-of-type {
                flex-basis: 25%;
                background-color: chocolate;
                display: flex;
                align-items: center;
                div {
                    width: 100%;
                    height: 53%;
                    background-color: blue;
                }
            }
        }


        /****************/
        /*SIXTH SECTION*/
        /****************/

        &:nth-of-type(6) {
            height: 101vh;
        }

        &:nth-of-type(6) .container {
            display: flex;
            flex-direction: row;

            .sixth-content:first-of-type {
                flex-basis: 43%;
                background-color: blueviolet;
            }

            .sixth-content:last-of-type {
                flex-basis: 57%;
                background-color: chocolate;
                display: flex;
                flex-direction: column;
                justify-content: center;
                div {
                    width: 100%;
                    height: 38%;
                    background-color: blue;
                }
            }
        }


        /****************/
        /*SEVENTH SECTION*/
        /****************/

        &:last-of-type {
            height: 41vh;
        }


    }

    footer {
        width: 100%;
        height: 11vh;
        background-color: khaki;
    }
}







@import "./about";